<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/css/trangChu.css" />
    <link rel="stylesheet" href="~/Content/css/sanPham.css" />
    <link rel="stylesheet" href="~/Content/css/gioHang.css" />
    <link rel="stylesheet" href="~/Content/css/thongTin.css" />
    <link rel="stylesheet" href="~/Content/css/lienHe.css" />

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous" />
</head>
<body>
    <div class="header">
        <div class="container header-content">
            <div class="logo">
                <img style="position: relative; top: -24px; width: 64px"
                     src="~/Content/images/logo.png"
                     alt="logo" />
            </div>
           
            <div class="nav">
                <a href="@Url.Action("Index", "Home")">
                    <div class="nav-item">Trang Chủ</div>
                </a>
                <a href="@Url.Action("AllPr", "Product")">
                    <div class="nav-item">Sản Phẩm</div>
                </a>
                <a href="@Url.Action("Index", "ThongTin")">
                    <div class="nav-item">Thông Tin</div>
                </a>
                <a href="@Url.Action("Index", "LienHe")">
                    <div class="nav-item">Liên Hệ</div>
                </a>
            </div>
            <div class="header-right">
                <a href="@Url.Action("ShowToCartt", "ShoppingCart")">
                    <img src="@Url.Content("~/Content/images/cart.svg")" alt="cart" />
                    @Html.Action("BagCart","ShoppingCart")
                </a>
            </div>
        </div>
    </div>

    <div id="content">
       
        @RenderBody()
      
       
     
    </div>

    <div class="footer">
    <div
    style="
    background-color: #e48586;
    padding-top: 30px;
    padding-bottom: 10px;
    "
    >
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 color-footer">
    <h3>Thông Tin</h3>
    <p>57/1A Đường 42, Hiệp Bình Chánh, Thủ Đức</p>
    <p>Call us: 0931615325</p>
    <p>Email:chihtl@gmail.com</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 color-footer">
    <h3>Dịch Vụ</h3>
    <p>Hỗ trợ sản phẩm</p>
    <p>Tổng đài chăm sóc</p>
    <p>Đặt sản phảm</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 color-footer">
    <h3>Chính Sách</h3>
    <p>Phương thức thanh toán</p>
    <p>Chính sách đổi trả hàng</p>
    <p>Chính sách bảo mật thông tin</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 color-footer">
    <h3>Giờ Mở Cửa</h3>
    <p>Thứ Hai - Thứ Sáu: 8:00 AM - 10:00 PM</p>
    <p>Thứ Bảy - Chủ Nhật: 9:00 AM - 11:00 PM</p>
    </div>
    </div>
    <div
    style="background-color: aliceblue; border-top: 1px solid aliceblue"
    ></div>
    <div style="padding-top: 10px">
    <p class="color-footer" style="text-align: center">
    © Copyright 2023. Thiết kế bởi
    <span style="font-weight: 700">ChiHTL</span>
    </p>
    </div>
    </div>
    </div>
    </div>

</body>
</html>